* {
    margin: 0;
    padding: 0;
    font-family: 'sans-serif';
}

body {
    height: 100vh;
    background-color: lightblue;
    position: relative;
}

    .main{
    	position: absolute;
    	top: 20px;
    	left: 40%;
    	padding: 10px 30px;
    	border-radius: 50px;


    }


.settings {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


.btn {
    position: absolute;
    padding: 20px 30px;
    border: 0;
    font-family: 'sans-serif';
    font-size: 1.1em;
    border-radius: 10px;
    background: white;
    
    left: 45%;
    top: 88%;
}


.container {
    height: 400px;
    width: 500px;
    position: absolute;
    left: 35%;
    top: 18%;
    border-radius: 50px;
    

}


input[type=checkbox] {
    position: absolute;
    left: 80%;
}


.result-container {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-size: 18px;
    border-radius: 10px;
    letter-spacing: 1px;
    padding: 15px 10px;
    height: 40px;
    margin-top: 5%;
    left: 7%;
    width: 80%;
}


.result-container #result {
    word-wrap: break-word;
    max-width: calc(100% - 40px);
}